apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: static-server
  name: static-server
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: static-server
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: static-server
    spec:
      containers:
      - image: us-west1-docker.pkg.dev/arcus-238802/arcus-prod/arcus/static-server:latest
        imagePullPolicy: IfNotPresent
        name: static-server
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        resources: {}
        readinessProbe:
          tcpSocket:
            port: 8097
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 8097
          initialDelaySeconds: 10
          periodSeconds: 60
        volumeMounts:
          - mountPath: /tmp
            name: tmp
          - mountPath: /var/cache/nginx
            name: nginx-cache
          - mountPath: /var/run
            name: nginx-run
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      automountServiceAccountToken: false
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      terminationGracePeriodSeconds: 30
      volumes:
      - name: tmp
        emptyDir:
          medium: Memory
          sizeLimit: 64Mi
      - name: nginx-cache
        emptyDir: {}
      - name: nginx-run
        emptyDir:
          medium: Memory
          sizeLimit: 1Mi
