apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ui-server
  name: ui-server
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui-server
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: ui-server
    spec:
      containers:
      - image: us-west1-docker.pkg.dev/arcus-238802/arcus-prod/arcus/ui-server:latest
        imagePullPolicy: IfNotPresent
        name: ui-server
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        resources: {}
        readinessProbe:
          tcpSocket:
            port: 8096
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 8096
          initialDelaySeconds: 10
          periodSeconds: 60
        volumeMounts:
          - mountPath: /tmp
            name: tmp
          - mountPath: /var/cache/nginx
            name: nginx-cache
          - mountPath: /var/run
            name: nginx-run
          - mountPath: /usr/share/nginx/html/build/dist/config
            name: ui-config
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        env:
        - name: ARCUS_WS_URI
          valueFrom:
            configMapKeyRef:
              key: ARCUS_WS_URI
              name: arcus-config
        - name: ARCUS_HTTP_URI
          valueFrom:
            configMapKeyRef:
              key: ARCUS_HTTP_URI
              name: arcus-config
        - name: ARCUS_ENABLE_HUB_WIFI_SCAN
          valueFrom:
            configMapKeyRef:
              key: ARCUS_ENABLE_HUB_WIFI_SCAN
              name: arcus-config
        - name: ARCUS_ENABLE_BATTERY_PERCENTAGE
          valueFrom:
            configMapKeyRef:
              key: ARCUS_ENABLE_BATTERY_PERCENTAGE
              name: arcus-config
      automountServiceAccountToken: false
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      terminationGracePeriodSeconds: 30
      volumes:
      - name: tmp
        emptyDir:
          medium: Memory
          sizeLimit: 64Mi
      - name: nginx-cache
        emptyDir: {}
      - name: nginx-run
        emptyDir:
          medium: Memory
          sizeLimit: 1Mi
      - name: ui-config
        emptyDir: {}
