apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: loki
  name: loki
  namespace: default
spec:
  serviceName: loki
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
      - image: grafana/loki
        imagePullPolicy: IfNotPresent
        name: loki
        args:
        - -config.file=/etc/loki/loki.yaml
        resources:
          limits:
            cpu: "1"
            memory: 512Mi
          requests:
            cpu: "0.05"
            memory: 128Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /loki
          name: loki-storage
        - mountPath: /etc/loki
          name: config
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 10
      volumes:
      - name: config
        configMap:
          name: extrafiles
          items:
          - key: loki.yaml
            path: loki.yaml
  volumeClaimTemplates:
  - metadata:
      name: loki-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: loki
  name: loki-service
  namespace: default
spec:
  ports:
  - port: 3100
    protocol: TCP
    targetPort: 3100
  selector:
    app: loki
  sessionAffinity: None
  type: ClusterIP
